@charset "utf-8";

// Google Fonts: Header - Roboto Slab, Regular - Roboto, Mono - Roboto Mono
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto+Slab&family=Roboto:wght@300&display=swap');

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Roboto', Helvetica, sans-serif;
$family-monospace: 'Roboto Mono', monospace;
$family-serif: 'Roboto Slab', serif;
$family-primary: $family-serif;
$family-secondary: $family-sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import 'bulma/sass/utilities/_all.sass';
@import 'bulma/sass/base/_all';
@import 'bulma/sass/grid/columns.sass';
@import 'bulma/sass/form/_all.sass';
@import 'bulma/sass/elements/title.sass';
@import 'bulma/sass/elements/container.sass';
@import 'bulma/sass/elements/button.sass';
@import 'bulma/sass/elements/image.sass';
@import 'bulma/sass/components/media.sass';
@import 'bulma/sass/components/modal.sass';
@import 'bulma/sass/layout/section.sass';
@import 'bulma/sass/helpers/typography.sass';

#app {
  .title {
    font-family: $family-secondary;
  }
}
